<!doctype html>
<title>{% block title %}{% endblock %} - Приложение</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Автоматизация работы преподавателя в курсах</h1>
  <ul>
    {% if g.user %}
      {% if g.dev %}
        <li><span>Dev mode</span>
      {% endif %}
      <li><span>{{ g.user }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>

    {% else %}
      {% if g.dev %}
        <li><a href="{{ url_for('auth.login_dev') }}">Log(dev)</a>
      {% endif %}
      <li><a href="{{ url_for('auth.login_stepic') }}">Log In Stepic</a>
    {% endif %}
  </ul>
</nav>
<section class="">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>