{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Курсы{% endblock %}</h1>
{% endblock %}

{% block content %}
<script language="javascript" type="text/javascript">
            function showHide(shID) {
               if (document.getElementById(shID)) {
                  if (document.getElementById(shID+'-show').style.display != 'none') {
                     document.getElementById(shID+'-show').style.display = 'none';
                     document.getElementById(shID).style.display = 'block';
                  }
                  else {
                     document.getElementById(shID+'-show').style.display = 'inline';
                     document.getElementById(shID).style.display = 'none';
                  }
               }
            }
</script>

ID: {{course.id}} <br>
Название : {{course.title}} <br>

<ul>
    {%- for section in Section.objects.filter(course=course.id) %}
    <li>
        <a href="1" class="hideLink" onclick="showHide({{section.id}});return false;">{{section.title}}</a><a id="{{section.id}}-show"></a>
        <ul id={{section.id}} class="more">
            <table class="redTable">
                    <thead>
                    {% set lessons=Lesson.objects.filter(section=section.id) %}
                    <tr>
                        <th> </th>
                        {%- for lesson in lessons %}
                        <th colspan={{lesson.steps.__len__()}}>{{lesson.title}}</th>
                        {%- endfor %}
                    </tr>
                    </thead>
                <thead>
                    <tr>
                        <th>Имя</th>
                        {%- for lesson in lessons%}
                        {%- for step in Step.objects.filter(id__in=lesson.steps).order_by('position') %}
                        <th>Q{{step.position}}</th>
                        {%- endfor %}
                        {%- endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Сумма </th>
                        {%- for lesson in lessons %}
                        {%- for step in Step.objects.filter(id__in=lesson.steps).order_by('position') %}
                        <th>{{step.count_passed}}</th>
                        {%- endfor %}
                        {%- endfor %}
                    </tr>
                    {%- for student in students %}
                    <tr>
                        <td><a href="{{ url_for('page.student_page',id=student.id) }}"> {{student.name_google}} </a></td>
                        {%- for lesson in lessons %}
                        {%- for step in lesson.steps %}
                            {% if Grade.objects.filter(student=student.id, step=step).first().is_passed %}
                            <td>1</td>
                            {% else %}
                            <td>0</td>
                            {% endif %}
                        {%- endfor %}
                        {%- endfor %}
                    </tr>
                    {%- endfor %}
                    </tbody>
                    </table>

        </ul>
        <br>
    </li>
    {%- endfor %}
</ul>

{% endblock %}