{% extends 'base.html' %}

{% block content %}
Пользователь {{ user.id }} <br>
{% if loaded %}
    <br>
    Последнее обновление: {{user.last_update.strftime("%H:%M %d.%m.%y")}} <br>
    <a href="{{ url_for('page.load') }}">Обновить</a> (это может занять некоторое время)
    <br>
    <br>
    Данные конфига<br>
    <table class="blueTable">
    <tbody>
    <tr>
         <td>Гугл таблица</td>
        <td><a href={{config.google_table.URL}}>Перейти</a></td>
    </tr>
    <tr>
        <td>Лист</td>
        <td>{{config.google_table.Sheet}}</td>
    </tr>
    <tr>
         <td>Диапазон имен</td>
        <td>{{config.google_table.FIO_Col}}:{{config.google_table.FIO_Rows.__str__()}}</td>
    </tr>
    <tr>
         <td>Диапазон id </td>
        <td>{{config.google_table.ID_Col}}:{{config.google_table.ID_Rows.__str__()}}</td>
    </tr>
    <tr>
        <td>Курсы </td>
        <td>{{config.stepic.id_course.__str__()}}</td>
    </tr>
    </tbody>
    </table>
    <br>
        <a href="{{ url_for('page.progress') }}">Перейти к сводной таблице</a>
    <br>
    <br>
    Некорректные данные
    <table class="blueTable">
    <tbody>
    <tr>
         <td>Студенты, с некорректным id</td>
        <td>{{incorrect.unknown_student.__str__()}}</td>
    </tr>
    <tr>
        <td>Курсы с некорректным id</td>
        <td>{{incorrect.unknown_course.__str__()}}</td>
    </tr>
    <tr>
         <td>Недоступные курсы</td>
        <td>{{incorrect.no_permission_course.__str__()}}</td>
    </tr>
    </tbody>
    </table>
{% else %}
    Данные не загружены <br>
    <a href="{{ url_for('page.load') }}">Загрузить данные</a> (это может занять некоторое время)<br>
{% endif %}

{% endblock %}