{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Студенты{% endblock %}</h1>
{% endblock %}

{% block content %}
<script language="javascript" type="text/javascript">
            function showHide(shID) {
               if (document.getElementById(shID)) {
                  if (document.getElementById(shID+'-show').style.display != 'none') {
                     document.getElementById(shID+'-show').style.display = 'none';
                     document.getElementById(shID).style.display = 'block';
                  }
                  else {
                     document.getElementById(shID+'-show').style.display = 'inline';
                     document.getElementById(shID).style.display = 'none';
                  }
               }
            }
</script>

ID  студента: {{student.id}} <br>
Имя студента с гугл таблице : {{student.name_google}} <br>
Имя студента в степике: {{student.name_stepic}} <br>
Курсы <br>

<ul>
    {%- for course in courses %}
	<li>
        <a href="1" class="hideLink" onclick="showHide({{course.id}});return false;">{{course.title}}</a><a id="{{course.id}}-show"></a>
		<ul id={{course.id}} class="more">
            Прогресс: {{student.progress_courses[course.id.__str__()]}} <br>
            <br>
            Дата: {{0}}<br>
            <br>
            {%- for section in Section.objects.filter(course=course.id) %}
			<li>
                <a href="1" class="hideLink" onclick="showHide({{section.id}});return false;">{{section.title}}</a><a id="{{section.id}}-show"></a>
                <ul id={{section.id}} class="more">
                    Прогресс: {{student.progress_sections[section.id.__str__()]}}
                    <br>
                    Дата: {{0}}<br>
                    <br>
                    {%- for lesson in Lesson.objects.filter(section=section.id)%}
			        <li>
                         <a href="1" class="hideLink" onclick="showHide({{lesson.id}});return false;">{{lesson.title}}</a><a id="{{lesson.id}}-show"></a>
                        <ul id={{lesson.id}} class="more">
                            Прогресс: {{student.progress_lessons[lesson.id.__str__()]}}
                            <br>
                            Дата: {{0}}<br>
                            <br>
                            {%- for step in lesson.steps %}
                            {% set grade = Grade.objects.filter(student=student.id, step=step).first() %}
			                <li>{{Step.objects.with_id(step).position}}<br>
                                Решен: {{grade.is_passed}} <br>
                                Первое правильное решение: {{grade.correct_date}}<br>
                                Первое неверное решение: {{grade.wrong_date}}<br>
                                <br>
                            </li>
                            {%- endfor %}
		                </ul>
                        <br>
                    </li>
                    {%- endfor %}
		        </ul>
                <br>
            </li>
            {%- endfor %}
		</ul>
        <br>
	</li>
    {%- endfor %}
</ul>


{% endblock %}